<nav class="w-full h-14 flex items-center justify-center bg-[#ffffff4d]">
    <div class="w-full h-10 flex justify-between container">
        <div class="min-w-[600px] flex gap-6 items-center text-[#64748B] font-medium">
            <a routerLink="/" class="flex items-center gap-2 text-lg font-semibold md:text-base text-black">
                <img src="https://from-to.uz/_next/image?url=https%3A%2F%2Fucarecdn.com%2F14b8f635-1310-42ff-bacd-9e8102d62add%2Flogo.png&w=32&q=75"
                    alt="logo">
                From-To</a>
            <a routerLink="/" class="hover:text-[#2565EB] active:text-[#2565EB]">{{"navbar.AITranslation" |
                translate}}</a>
            <a routerLink="/transliterate" class="hover:text-[#2565EB] active:text-[#2565EB]">{{"navbar.CyrillToLatin" |
                translate}}</a>
            <a routerLink="/pdf-image-to-text" class="hover:text-[#2565EB] active:text-[#2565EB]">{{"navbar.PdfToText" |
                translate}}</a>
            <p-menu #menu1 [model]="helpOptions" [popup]="true" class="cursor-pointer" />
            <button (click)="menu1.toggle($event)" class="cursor-pointer" icon="pi pi-ellipsis-v">{{"navbar.help" |
                translate}}<i class="pi pi-chevron-down" style="margin-left: 8px; width: 8px; height: 4px"></i></button>
        </div>
        <div class="w-[170px] h-full flex items-center">
            <p-menu #menu2 [model]="themeOptions" [popup]="true" class="cursor-pointer" />
            <button (click)="menu2.toggle($event)"
                class="cursor-pointer flex items-center justify-center rounded-md text-sm font-medium transition-all duration-200 hover:scale-105 hover:shadow-md active:scale-95 border border-[#e2e8f0] h-10 w-10">
                <i class="pi pi-sun"></i>
            </button>
            <div>
                <p-menu #menu3 [model]="options" [popup]="true" class="cursor-pointer" />
                <button (click)="menu3.toggle($event)"
                    class="cursor-pointer flex items-center justify-center font-medium transition-colors text-black/60 hover:text-black/80 h-10 w-10">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-grip size-6">
                        <circle cx="12" cy="5" r="1"></circle>
                        <circle cx="19" cy="5" r="1"></circle>
                        <circle cx="5" cy="5" r="1"></circle>
                        <circle cx="12" cy="12" r="1"></circle>
                        <circle cx="19" cy="12" r="1"></circle>
                        <circle cx="5" cy="12" r="1"></circle>
                        <circle cx="12" cy="19" r="1"></circle>
                        <circle cx="5" cy="19" r="1"></circle>
                        <circle cx="19" cy="19" r="1"></circle>
                    </svg>
                </button>
            </div>
            <div>
                <p-menu #menu4 [model]="langOptions" [popup]="true" class="cursor-pointer" />
                <!-- <button (click)="menu4.toggle($event);"
                    class="w-10 h-10 cursor-pointer flex items-center justify-center font-medium transition-colors text-black/60 hover:text-black/80">
                    <i class="pi pi-language" style="font-size: 24px;"></i>
                </button> -->
                <button
                    class="w-10 h-10 cursor-pointer flex items-center justify-center font-medium transition-colors text-black/60 hover:text-black/80"
                *ngFor="let lang of langOptions" (click)="changeLang(lang.code); menu4.toggle($event)">
                {{ lang.label }}
                </button>

            </div>
            <div>
                <p-menu #menu5 [model]="profileOptions" [popup]="true" class="cursor-pointer" />
                <button (click)="menu5.toggle($event)"
                    class="w-10 h-10 bg-[#2A74C5] cursor-pointer flex items-center justify-center rounded-full bg-muted text-sm font-medium">
                    <i class="pi pi-user" style="color: white;"></i>
                </button>
            </div>
        </div>
    </div>
</nav>
<!-- <div>
    <div>
        <button
            class="w-10 h-10 bg-[#2A74C5] flex items-center justify-center rounded-full bg-muted text-sm font-medium">
            <i class="pi pi-user" style="color: white;"></i>
        </button>
    </div>
    <div>
        <button><i class="pi pi-user-plus"></i> Sign in</button>
        <button><i class="pi pi-sign-out"></i> Sign up</button>
    </div>
</div> -->