<nav class="w-full border-b h-14 flex items-center justify-center border-[#e2e8f033] var(--card) var(--primary)">
    <div class="w-full h-10 flex justify-between container">
        <div class="pl-4 md:pl-0 md:min-w-[600px] flex gap-6 items-center text-[#64748B] font-medium">
            <a routerLink="/" class="flex items-center gap-2 text-lg font-semibold md:text-base var(--text)">
                <img src="https://from-to.uz/_next/image?url=https%3A%2F%2Fucarecdn.com%2F14b8f635-1310-42ff-bacd-9e8102d62add%2Flogo.png&w=32&q=75"
                    alt="logo">
                From-To</a>
            <a routerLink="/"
                class="hidden md:block hover:text-[#2565EB] active:text-[#2565EB]">{{"navbar.AITranslation"
                |
                translate}}</a>
            <a routerLink="/transliterate"
                class="hidden md:block hover:text-[#2565EB] active:text-[#2565EB]">{{"navbar.CyrillToLatin" |
                translate}}</a>
            <a routerLink="/pdf-image-to-text"
                class="hidden md:block hover:text-[#2565EB] active:text-[#2565EB]">{{"navbar.PdfToText" |
                translate}}</a>
            <p-menu #menu1 [model]="helpOptions" [popup]="true" class="cursor-pointer" />
            <button (click)="menu1.toggle($event)" class="cursor-pointer md:block hidden"
                icon="pi pi-ellipsis-v">{{"navbar.help" |
                translate}}<i class="pi pi-chevron-down" style="margin-left: 8px; width: 8px; height: 4px"></i></button>
        </div>
        <div class="w-[170px] h-full flex items-center justify-center">
            <p-menu #menu2 [model]="themeOptions" [popup]="true"></p-menu>
            <button (click)="menu2.toggle($event)" class="cursor-pointer flex items-center justify-center rounded-md 
         text-sm font-medium transition-all duration-200 hover:scale-105
         hover:shadow-md active:scale-95 border h-10 w-10 border-(--border) text-(--text)">
                <i class="pi pi-sun"></i>
            </button>

            <p-menu #menu3 [model]="options" [popup]="true" />
            <button (click)="menu3.toggle($event)"
                class="cursor-pointer text-(--text) hidden md:flex items-center justify-center font-medium transition-colors h-10 w-10">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-grip size-6">
                    <circle cx="12" cy="5" r="1"></circle>
                    <circle cx="19" cy="5" r="1"></circle>
                    <circle cx="5" cy="5" r="1"></circle>
                    <circle cx="12" cy="12" r="1"></circle>
                    <circle cx="19" cy="12" r="1"></circle>
                    <circle cx="5" cy="12" r="1"></circle>
                    <circle cx="12" cy="19" r="1"></circle>
                    <circle cx="5" cy="19" r="1"></circle>
                    <circle cx="19" cy="19" r="1"></circle>
                </svg>
            </button>

            <div class="card flex md:hidden gap-2 md:gap-0">
                <p-drawer [(visible)]="visible" header="From-To" [style]="{'background': 'var(--bg)', 'color': 'var(--primary)', 'border-color': 'var(--border)'}">
                    <span class="text-(--primary) text-sm">Online Translation</span>
                    <div class="mt-4 text-[16px] text-(--text) flex flex-col gap-4">
                        <a routerLink="/" (click)="visible = false"
                            class="font-medium transition-colors hover:text-foreground/80 flex items-center justify-between text-foreground/60">{{"navbar.AITranslation"
                            |
                            translate}}</a>
                        <a routerLink="/transliterate" (click)="visible = false"
                            class="font-medium transition-colors hover:text-foreground/80 flex items-center justify-between text-foreground/60">{{"navbar.CyrillToLatin"
                            |
                            translate}}</a>
                        <a routerLink="/pdf-image-to-text" (click)="visible = false"
                            class="font-medium transition-colors hover:text-foreground/80 flex items-center justify-between text-foreground/60">{{"navbar.PdfToText"
                            |
                            translate}}</a>
                    </div>
                    <h3 class="mt-4 text-(--primary) font-medium text-lg">Help</h3>
                    <div class="mt-4 text-[16px] text-(--text) flex flex-col gap-4">
                        <a routerLink="/help-for-translator" (click)="visible = false"
                            class="font-medium transition-colors hover:text-foreground/80 flex items-center justify-between text-foreground/60">{{"navbar.helps.HelpForTranslator"
                            |
                            translate}}</a>
                        <a routerLink="/how-to-use" (click)="visible = false"
                            class="font-medium transition-colors hover:text-foreground/80 flex items-center justify-between text-foreground/60">{{"navbar.helps.HowToUse"
                            |
                            translate}}</a>
                        <a routerLink="/developer-api" (click)="visible = false"
                            class="font-medium transition-colors hover:text-foreground/80 flex items-center justify-between text-foreground/60">{{"navbar.helps.ApiForDeveloper"
                            |
                            translate}}</a>
                        <hr class="border border-(--border)">
                        <a routerLink="/terms-and-conditions" (click)="visible = false"
                            class="font-medium transition-colors hover:text-foreground/80 flex items-center justify-between text-foreground/60">{{"navbar.helps.TermsAndConditions"
                            |
                            translate}}</a>
                        <a routerLink="/about-us" (click)="visible = false"
                            class="font-medium transition-colors hover:text-foreground/80 flex items-center justify-between text-foreground/60">{{"navbar.helps.AboutUs"
                            |
                            translate}}</a>
                        <a routerLink="/advertisement" (click)="visible = false"
                            class="font-medium transition-colors hover:text-foreground/80 flex items-center justify-between text-foreground/60">{{"navbar.helps.Advertisement"
                            |
                            translate}}</a>
                    </div>
                    <div class="mt-8 text-[16px] text-(--text) flex flex-col gap-4">
                        <a routerLink="/telegram-bot" (click)="visible = false"
                            class="font-medium transition-colors hover:text-foreground/80 flex items-center justify-between text-foreground/60">{{"navbar.options.TelegramBot"
                            |
                            translate}}</a>
                        <a routerLink="/dictionary" (click)="visible = false"
                            class="font-medium transition-colors hover:text-foreground/80 flex items-center justify-between text-foreground/60">{{"navbar.options.Dictionary"
                            |
                            translate}}</a>
                        <a routerLink="/context" (click)="visible = false"
                            class="font-medium transition-colors hover:text-foreground/80 flex items-center justify-between text-foreground/60">{{"navbar.options.Context"
                            |
                            translate}}</a>
                    </div>
                    <h3 class="my-4 text-(--primary) font-medium text-lg">Profile</h3>
                    <div class="mt-4 text-[16px] text-(--text) flex flex-col gap-4">
                        <a routerLink="/auth/sign-in" (click)="visible = false"
                            class="font-medium transition-colors hover:text-foreground/80 flex items-center justify-between text-foreground/60">{{"navbar.profileOptions.Login"
                            |
                            translate}}</a>
                        <a routerLink="/auth/sign-up" (click)="visible = false"
                            class="font-medium transition-colors hover:text-foreground/80 flex items-center justify-between text-foreground/60">{{"navbar.profileOptions.Register"
                            |
                            translate}}</a>
                    </div>
                </p-drawer>
                <p-button (click)="visible = true" icon="pi pi-bars"
                    [style]="{color: 'var(--text)', background: 'none', border: 'none'}" />
            </div>

            <!-- <p-menu #menu4 [model]="langOptions" [popup]="true" ></p-menu>
            <button (click)="menu4.toggle($event)" class="cursor-pointer w-10 h-10 flex items-center justify-center">
                <i class="pi pi-language" style="font-size: 24px;"></i>
            </button> -->
            <p-menu #menu4 [model]="langOptions" [popup]="true"></p-menu>
            <button (click)="menu4.toggle($event)"
                class="text-(--text) cursor-pointer w-10 h-10 flex items-center justify-center">
                <i class="pi pi-language" style="font-size: 24px;"></i>
            </button>

            <p-menu #menu5 [model]="profileOptions" [popup]="true" />
            <button (click)="menu5.toggle($event)"
                class="w-10 h-10 bg-[#2A74C5] cursor-pointer hidden md:flex items-center justify-center rounded-full bg-muted text-sm font-medium">
                <i class="pi pi-user" style="color: white;"></i>
            </button>
        </div>
    </div>
</nav>