<main class="flex-1 p-2 py-6 duration-1000 animate-in fade-in md:container md:p-6">
    <div class="rounded-lg border bg-card text-card-foreground shadow-sm border-[#e2e8f0] bg-white">
        <div class="p-4 md:px-16 md:pb-16">
            <section class="mx-auto mb-4 flex max-w-[980px] flex-col items-center gap-2 pb-0 pt-4 md:pb-8 md:pt-12">
                <h1 class="text-center text-3xl font-bold leading-tight tracking-tighter md:text-5xl lg:leading-[1.1]">
                    Advertisement</h1>
                <div class="max-w-[750px] text-justify font-light text-foreground md:text-center md:text-lg">
                    Do you want to increase your brand awareness and attract more customers? Look no further! Using our
                    advertising service, you can place your banner on the high-traffic website from-to.uz, which is
                    visited
                    by more than 3,000 people daily. Don't miss this opportunity to connect with potential clients and
                    grow
                    your business. Contact us today to learn more about our advertising options.
                </div>
            </section>
            <div class="mb-6">
                <h2 class="text-2xl font-semibold tracking-tight">Desktop banners</h2>
                <hr class="my-4 text-[#e5e7eb]">
            </div>
            <div class="grid grid-cols-2 gap-8 sm:grid-cols-2 md:grid-cols-4">
                @for (item of data.desktop; track $index) {
                <div class="text-[#020817]">
                    <div class="overflow-hidden rounded-md">
                        <img src={{item.imageUrl}} alt={{item.title}}
                            class="mx-auto aspect-square h-auto w-auto object-contain transition-all hover:scale-105">
                    </div>
                    <div class="mt-2 gap-1 text-center">
                        <h3 class="font-medium leading-none">{{item.title}}</h3>
                        <p>{{item.size}}</p>
                    </div>
                </div>
                }
            </div>
            <div class="mt-6">
                <h2 class="text-2xl font-semibold tracking-tight">Mobile banners</h2>
                <hr class="my-4 text-[#e5e7eb]">
            </div>
            <div class="grid grid-cols-2 gap-8 sm:grid-cols-2 md:grid-cols-5">
                @for (item of data.mobile; track $index) {
                <div class="text-[#020817]">
                    <div class="overflow-hidden rounded-md">
                        <img src={{item.imageUrl}} alt={{item.title}}
                            class="mx-auto aspect-square h-auto w-auto object-contain transition-all hover:scale-105">
                    </div>
                    <div class="mt-2 gap-1 text-center">
                        <h3 class="font-medium leading-none">{{item.title}}</h3>
                        <p>{{item.size}}</p>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</main>