/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@import "primeicons/primeicons.css";

/* body { background-color: #e2e8f0; } */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    color-scheme: system;
    background-color: #e2e8f0;
}