/* GLOBAL IMPORTS */
@import "tailwindcss";
@import "primeicons/primeicons.css";

/* BASE BODY STYLE */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", "Helvetica Neue", sans-serif;

    background-color: var(--bg-color);
    background-image: var(--bg-image);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    color: var(--text-color);
    min-height: 100vh;
}

/* DEFAULT (System) */
:root {
    --bg-color: #f0f6ff;
    --bg-image: none;
    --text-color: #111111;
}

/* DARK MODE */
.dark {
    /* --bg-color: #303541; */
    --bg-color: #0f131a;
    --bg-image: none;
    /* --text-color: #F8FAFC; */
}

/* LIGHT MODE */
.light {
    --bg-color: #ffffff;
    --bg-image: none;
    --text-color: #333333;
}

/* OLD THEME — background IMAGE */
.old-theme {
    --bg-image: url('/old-theme.jpg');
    --text-color: #333333;
}

/* UNIVERSAL UTILITY CLASSES */

/* Background based on theme */
.bg-theme {
    background-color: var(--bg-color);
}

/* Text color based on theme */
.text-dark {
    color: #f8fafc99;
}

/* Border color based on theme */
.border-theme {
    border-color: #e2e8f0;
}

.font-sans {
    font-family: var(--font-sans), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.__variable_f367f3 {
    --font-sans: "__Inter_f367f3", "__Inter_Fallback_f367f3";
}